/*Basket page css b-css*/
.b-row {
  display: flex;
  flex-wrap: wrap;
}

/*basket grid*/
.basket {
  width: 650px;
 
  margin: 80px auto;
  background: #FFFFFF;
  flex: 70%;
 
}

/*order summary grid*/
.b-order {
  width: 400px;
  height: 400px;
  margin: 80px auto;
  background: #D9D9D9;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
  flex: 30%;
  flex-direction: row;

}

/*checkout button*/
.b-checkoutBtn {
  background-color:black;
  border: none;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 250px;
  color: white;
  font-size: 20px;
  font-style: Semi Bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 60px;
  margin-left: 110px;
  padding-top: 3px;
}

/*title*/
.b-title {
  height: 60px;
  border-bottom: 1px solid #D9D9D9;
  padding: 20px 30px;
  color: black;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  font-family: Inter;
  text-align: left;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

/*basket item*/   
.b-item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
   border-bottom:  1px solid #E1E8EE;
}

/*product image*/
.b-image {
  margin-right: 50px;
}

.b-img img {
  width: 110px;
  height: 140px;
}

/*product description*/
.b-description {
  padding-top: 10px;
  margin-right: 150px;
  margin-left: 90px;
  width: 115px;
}

.b-description span {
  display: block;
  font-size: 18px;
  color: #43484D;
  font-weight: 400;
}

.b-description span:first-child {
  margin-bottom: 5px;
}

.b-description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
  font-size: 16 px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

/*price*/
.b-total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 20px;
  color: black;
  font-weight: 300;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 120px;
  margin-bottom: 0;
  text-decoration: none;
}

/*remove product button*/
.b-deleteBtn {
  background-color: black;
  border: none;
  color: white;
  height: 22px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 20px;
  margin-inline-start: 100px;
  font-size: 20px;
}

/*order summary section*/
h1.order {
  text-align: center;
  margin-bottom: 20px;
}

h2.order {
  margin-left: 80px;
}

span.order {
  display: inline;
  margin-left: 100px;
}

.b-line1 {
  border-bottom: 4px solid white;
  margin-left: 30px;
  width: 400px;
  margin-bottom: 60px;


}

.b-line2 {
  border-bottom: 4px solid white;
  margin-left: 30px;
  width: 400px;
  margin-top: 60px
}





 a.continue{
  color: black;
  background-color: transparent;
  text-decoration: none;
text-align: right;
}