/* reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* basic styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
}

header {
  /* background-color: #dd9d2f; */
  background-color: #F4A950;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {

  font-family: 'Bowlby One SC', cursive;
  color: black;
  font-size: 30px;
  align-items: center;  
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
  padding: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-left: auto;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
.product-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  max-height: 1280px;
  height: 350px;
  margin: 50px;
  background-color: #E9C78C;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}


.product {
  display: flex;
  align-items: center;
}

.product-image {
  flex: 1;
  margin-right: 20px;
}

.product-image img {
  max-width: 100%;
}

.product-info {
  flex: 2;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.add-to-cart:hover {
  background-color: #333;
}
.buy-container {
  width: 100%;
  max-width: 1280px;
  height: 150px;
  margin: 50px;
  margin-top: -50px;
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}
.btn {
  padding: 15px 150px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}



.line {
  border-top: 4px solid #141010;
  margin: 20px 50px;
}
.text-container {
  text-align: center;
  margin: 20px 50px;
}
.box-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
}

.box {
  width: 30%;
  height: 190px;
  border-radius: 10px;
  background-color: #e5e5e5;
}



  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  