/* reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* basic styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f2f2f2;
}

header {
    background-color: #bba38d;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 20px;
    
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
    padding: 10px;
  }
  
  nav ul li:first-child {
    margin-left: 0;
  }
  
  nav ul li:last-child {
    margin-left: auto;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

button[type="submit"] {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}
select#genre {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  select#genre option {
    color: #000;
    background-color: #fff;
  }
  
  select#genre:hover {
    background-color: #f2f2f2;
  }
  
main {
    margin: 20px auto;
    max-width: 1200px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 30%;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
}

article img {
    width: 100%;
    margin-bottom: 10px;
}

article h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

article p {
    margin-bottom: 10px;
}

article button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

article button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
